
<% include partials/header %>
<body>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h3 class="display-5">Here are your converted images of different sizes!</h3>
                  
                  <hr class="my-4">

                  <div class="container">
                        <div class="container">
                            <div class="col-md-4">
                                  <img class="img-responsive size" src="../public/convertedImages/gallery.jpg" alt="gallery.jpg">
                       
                                   <div class="caption">gallery : 380 x 380</div>
                            </div>
                         </div>
                         <hr class="my-4">

                            <div class="container">
                                    <div class="col-md-4">
                                          <img class="img-responsive" src="../public/convertedImages/horizontal-small.jpg" alt="horizontal-small.jpg">
                               
                                           <div class="caption">horizontal small : 365 x 212</div>
                                    </div>
                            </div>
                            <hr class="my-4">

                            <div class="container">
                                    <div class="col-md-4">
                                          <img class="img-responsive" src="../public/convertedImages/horizontal.jpg" alt="horizontal.jpg">
                               
                                           <div class="caption">horizontal : 755 x 450 </div>
                                    </div>
                            </div>
                            <hr class="my-4">

                            <div class="container">
                                    <div class="col-md-4">
                                          <img class="img-responsive" src="../public/convertedImages/vertical.jpg"  alt="vertical.jpg">
                               
                                           <div class="caption">vertical : 365 x 450</div>
                                           <hr class="my-4">

                                    </div>
                            </div>
                  </div>
                </div>
              </div>
              
</body>


<% include partials/footer %>