<% include partials/header %>
<body>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h3 class="display-5">Here are your converted images of different sizes!</h3>
                  <div class="container">

                  <img src="../public/convertedImages/gallery.jpg"  class="img-thumbnail" alt="gallery.jpg">
                  <img src="../public/convertedImages/horizontal-small.jpg" class="img-thumbnail" alt="horizontal-small.jpg">
                  <img src="../public/convertedImages/horizontal.jpg" class="img-thumbnail" alt="horizontal.jpg">
                  <img src="../public/convertedImages/vertical.jpg"  class="img-thumbnail" alt="vertical.jpg">
                  </div>
                </div>
              </div>
</body>


<% include partials/footer %>
