<% include partials/header %>
<body>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Here are your converted images...!</h1>
                  <div class="container">

                  <img src="../public/convertedImages/gallery.jpg" alt="gallery.jpg">
                  <img src="../public/convertedImages/horizontal-small.jpg" alt="horizontal-small.jpg">
                  <img src="../public/convertedImages/horizontal.jpg" alt="horizontal.jpg">
                  <img src="../public/convertedImages/vertical.jpg" alt="vertical.jpg">
                  </div>
                </div>
              </div>
</body>


<% include partials/footer %>
