<% include partials/header %>
<body>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Here are your converted images...!</h1>
                </div>
              </div>
</body>


<% include partials/footer %>
