<% include partials/header %>
<div style="background:light !important" class="jumbotron">
        <h1 class="display-4">Hello folks,</h1>
        <h3> <b>Welcome to Insider's image conversion application!</b></h3>
        <hr class="my-4">

        <p class="lead">This application allows you to upload an Image and you can preview this image in multiple sizes. </p>
        <hr class="my-4">
        <p> Our application takes an image from you and converts it in to different formats and displays the image of four different sizes
        </p>
        <hr class="my-4">
        <p>
           <h2>Have fun....!</h2> 
        </p>
        
        <hr class="my-4">
        <div>
            <div class="text-center">
                <a class="btn btn-secondary btn-lg" href="https://insider.in/" role="button">Learn more about our company</a>

            </div>

        </div>

      </div>
</div>
<% include partials/footer %>
