<% include partials/header %>
<div style="background:light !important" class="jumbotron">

<h1 style="text-align:center">Please click the below button to preview your image!</h1>

<div class="container-fluid" style="width: 30%; margin:25px auto;">
<form action="/display" method="POST">
    <div class="form-group">
    <button class="btn btn-sm btn-secondary btn-block">preview</button>
    </div>
</form>
<a href="/upload  "> Go Back!</a> <br>           
</div>
</div>
<% include partials/footer %>
