<% include partials/header %>
<div style="background:light !important" class="jumbotron">

<h1 style="text-align:center">Enter the Image details!</h1>

<div class="container-fluid" style="width: inherit">
    <center>
<form action="/upload" enctype="multipart/form-data" method="POST">
    <div class="form-group">
    <input class="form-control" type="text" style="width:inherit" name="title" placeholder="Enter image title">
    </div>
    <div class="file btn" style="width:inherit">
    Upload Image
    <input type="file" name="image"/>
    </div>
    <hr class="my-4">
    <div class="form-group">
    <button class="btn btn-sm btn-primary btn-block" style="width:inherit">Submit</button>
    </div>
</form>
</center>
<a href="/  "> Go Back!</a> <br>
</div>
</div>
<% include partials/footer %>